<header>
  <nav className="navbar navbar-expand-lg navbar-light bg-light">
      <div className="collapse navbar-collapse" id="navbarNav">
        <ul className="navbar-nav">
          <li className="nav-item active">
              <a href="/" class="nav-link"><span class="nav-text">Dashboard</span></a>
            </li>
          <li className="nav-item">
            <a href="/new" class="nav-link"><span class="nav-text">Add new question</span></a>
          </li>
          <li className="nav-item">
            <a href="/about" class="nav-link"><span class="nav-text">About</span></a>
          </li>
        </ul>
      </div>
    </nav>
</header>
