<div class="card p-2 m-2">
  <h3>
    About the questions application
  </h3>
  <p>
    This app was originally based on the application built during the Pluralsight course
    "<a href="https://app.pluralsight.com/library/courses/react-express-full-stack-app-building">
      Building a full stack app with React and Express
    </a>". But after more than a week of work on it, I started getting mired in problems I wasn't sure how to fix.
  </p>
  <p>
    So, starting on 5/4/2019, I just rewrote it in Angular.
  </p>
  <p>
    For the full story and more, check out the README on <a href="https://github.com/bouncingleaf/angular-questions">github</a>.
    The original repo is on <a href="https://github.com/bouncingleaf/questions">github</a> also.
  </p>
</div>
