<table class="table" *ngIf="questions && !loading">
  <thead>
    <tr>
      <th>Question</th>
      <th>Answer</th>
      <th>Distractors</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let question of questions">
      <td>{{question.question}}</td>
      <td>{{question.answer}}</td>
      <td>
        <div *ngFor="let distractor of question.distractors">
          {{distractor}}
        </div>
      </td>
      <td>
          <a [routerLink]="'/edit/' + question.id">
            <button
              class="btn btn-sm btn-outline-primary mr-1">
                Edit
            </button>
          </a>
          <button
            class="btn btn-sm btn-outline-danger"
            (click)="delete.emit(question.id)">
              Delete
          </button>
      </td>
    </tr>
  </tbody>
</table>

<p *ngIf="!questions && !loading">
  No questions found.
</p>

<p *ngIf="loading">
  Loading...
</p>
