<div class="card mt-2 p-2">
  <h3>
    {{title}} Question
  </h3>
  <form *ngIf="question$ | async; let question">
    <div class="form-group">
      <label for="questionName">Question</label>
      <input
        id="questionName"
        value={{question.question}}
        class="form-control" />
    </div>
    <div class="form-group">
      <label for="questionAnswer">Correct answer</label>
      <input
        id="questionAnswer"
        value={{question.answer}}
        class="form-control" />
    </div>
    <div class="form-group">
      <label>Distractors</label>
        <div *ngFor="let distractor of question.distractors; index as index">
          <input
          id=index
          value={{distractor}}
          class="form-control" />
        </div>
    </div>
    <span class="mt-3">
        <button type="submit" class="btn btn-outline-primary btn-sm mt-2 mr-1">
          Save changes
        </button>
        <button class="btn btn-outline-primary btn-sm mt-2">
          Back to list of questions
        </button>
    </span>
  </form>
</div>
