<div class="card mt-2 p-2">

  <form [formGroup]="questionEditForm" (ngSubmit)="onSubmit()" *ngIf="question$ | async as question; else loading">
    <div class="form-group">
      <label for="questionName">Question</label>
      <input
        type="text"
        id="questionName"
        formControlName="questionName"
        class="form-control" />
    </div>

    <div class="form-group">
        <label for="answer">Answer</label>
        <input
          type="text"
          id="answer"
          formControlName="answer"
          class="form-control" />
      </div>

    <div formArrayName="distractors">
        <label>Distractors</label>
        <button type="button"
          class="btn btn-outline-primary btn-sm ml-2"
          (click)="addDistractor()">
            Add
        </button>

        <div *ngFor="let address of distractors.controls; let i=index">
          <!-- The repeated distractor template -->
          <p></p>
            <input
              type="text"
              [formControlName]="i"
              class="form-control" />
        </div>
      </div>
    <button type="submit"
      class="btn btn-outline-primary btn-sm mt-2 mr-1"
      [disabled]="!questionEditForm.valid">
        Submit
    </button>
    <button type="button"
      class="btn btn-outline-danger btn-sm mt-2"
      (click)="delete.emit(question)">
        Delete question
      </button>
</form>

  <ng-template #loading>
    No question to edit. Maybe loading... hang out for a moment and see if it loads.
    <a [routerLink]="['/']" routerLinkActive="router-link-active">Home</a>
  </ng-template>
</div>
